name: Latest blog post workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "7"
          feed_list: "https://ajulusthoughts3.netlify.com/index.xml/,https://www.ajulusthoughts.wordpress.com/feed/,https://blog.stephenajulu.com/feed.xml/"
